@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

header {
    background-image: linear-gradient(to right, #5e17eb, #cb6ce6, #ff914d);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-header {
    margin-right: 30px;
}

.nav-header li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 20px 5px 20px;
    margin-right: 30px;
    background: rgba(255,255,255, 0.3);
    border-radius: 50px;
    font-weight: 500;
}

.nav-header li:hover {
    background: rgba(255,255,255, 0.4);
    transition: all 0.3s ease 0s;
}

.nav-header a:hover {
    color: black;
}


body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #f1f1f1;
    color: black;
    margin: 0;
    padding: 0;
}

b {
    font-weight: 600;
}

.logo {
    height: 70px;
    margin-right: auto;
}

.layout {
    border-spacing: 0;
    margin-top: 70px;
}

.layout-tr {
    background-color: #f1f1f1;
}

.layout-td-left {
    vertical-align: top;
    border: solid #f1f1f1;
    border-width: 10px 5px 10px 10px;
    border-radius: 25px;
    background-color: white;
}

.layout-td-right {
    vertical-align: top;
    border: solid #f1f1f1;
    border-width: 10px 10px 10px 5px;
    border-radius: 25px;
    background-color: white;
}

main {
    background-color: white;
    border-radius: 25px;
}

.navbar {
    width: 16rem;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    font-size: 11pt;
}

.navbar:hover {
    overflow: auto;
}

h1 {
    margin: 40px 30px 20px 30px;
    font-weight: 600;
    font-size: 15pt;
    color: #5e17eb;
}

.navbar h1 {
    margin-bottom: 0;
}

h2 {
    margin: 30px;
    font-weight: 500;
    font-size: 13pt;
}

p {
    margin: 30px;
    line-height: 170%;
}

.td-navbar, .navbar th {
    padding: 15px 10px 15px 10px;
    border-bottom: 1px solid #dcdcdc;
    vertical-align: center;
}

.navbar table {
    margin-right: 10px;
    margin-left: 10px;
    border-spacing: 0;
    font-weight: 500;
}

.td-space {
    border-bottom: 1px solid white;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #5e17eb;
    transition: all 0.3s ease 0s;
}

.li-main a {
    text-decoration: underline;
}

.navlist {
    list-style-type: none;
    margin-bottom: -10px;
    margin-top: -5px;
}

.navlist-item {
    padding: 10px;
    margin-bottom: 5px;
    margin-left: -50px;
    font-weight: 400;
}

.navbar-item {
    padding: 10px;
    margin-bottom: 5px;
    margin-left: -50px;
    font-weight: 500;
}

.ul-main {
    margin-right: 30px;
}

.li-main {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    line-height: 170%;
}

.li-main-none {
    margin: 10px;
    list-style-type: none;
}

.ul-under {
    list-style-type: "- ";
    margin-top: 10px;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3d4ff;
    border: 10px solid white;
    border-radius: 20px;
    margin: 30px 15px 30px 15px;
}

.img-1 {
    width: auto;
    margin: 40px;
    border-radius: 5px;
}

.img-2 {
    height: auto;
    margin: 40px;
    border-radius: 5px;
}

.ul-arrow {
    list-style-type: "\2192   ";
}

.li-arrow {
    line-height: 170%;
    margin-right: 25px;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    height: 40px;
    width: auto;
    margin: 50px;
}

.button-icon:hover {
    opacity: 70%;
    transition: all 0.3s ease 0s;
}

#active-list {
    color: #5e17eb;
}

#active-item {
    background-color: #e3d4ff;
    border-radius: 50px;
}

.task-box {
    display: flex;
    align-items: center;
    background-color: #ffead4;
    border: 10px solid white;
    border-radius: 20px;
    margin: 90px 15px 30px 15px;
}

.ol-task {
    margin-left: -5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.task-box table {
    border-spacing: 0;
    margin-left: 50px;
}

.task-box td, .task-box th {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 120px;
}

th {
    font-weight: 600;
}

.home-lektionen {
    background: url("assets/background.png") no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.home-simulation {
    background-color: white;
    border: 15px solid #f1f1f1;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-simulation b {
    font-weight: 500;
}

.home-simulation p {
    font-size: 16pt;
}

.home-simulation button {
    background-color: #e3d4ff;
    border: 0;
    border-radius: 50px;
    padding: 20px 25px 20px 25px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #5e17eb;
    margin-left: -15px;
    margin-right: -15px;
    transition: all 0.3s ease 0s;
}

.home-simulation button:hover {
    background-color: #eee4ff;
    color: #8e59f8;
}

.home-simulation i {
    font-size: 14pt;
}

#spiel {
    border-top: 0;
}

#right {
    text-align: right;
}

.simulation {
    border: 10px solid white;
    border-radius: 20px;
    margin: 10px 15px -30px 15px;
    height: 700px;
    width: 1000px;
}

.sim-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fkt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 15px;
}

.simulation-1 {
    background-color: white;
    border-radius: 10px;
    border-style: none;
    margin: 10px 15px -30px 15px;
    height: 700px;
    width: 970px;
}

.simulation-2 {
    background-color: white;
    border-radius: 10px;
    border-style: none;
    height: 400px;
    width: 700px;
}

.sim-table {
    margin: 20px 25px -50px 25px;
    align-items: center;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 30px;
}

.sim-table td {
    border: solid 1px #e3d4ff;
    border-style: solid none;
    padding: 10px;
    background-color: #e3d4ff;
}

.sim-table td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sim-table td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.einf-table {
    margin-left: 20px;
    margin-right: 20px;
}

.einf-table td {
    padding: 10px 10px 10px 20px;
    line-height: 170%;
}

.icon {
    height: 40px;
}

.sim-box-task {
    background-color: #e3d4ff;
    border: 10px solid white;
    border-radius: 20px;
    margin: 40px 15px -30px 15px;
    height: 815px;
}

.quote {
    font-size: 14pt;
    color: #5e17eb;
    font-weight: 500;
    text-align: center;
    line-height: 250%;
    transition: all 0.3s ease 0s;
}


.quote:hover {
    font-size: 15pt;
}